name: firecrawl

x-common-service: &common-service
  # NOTE: If you don't want to build the service locally,
  # uncomment the build: statement and comment out the image: statement
  # image: ghcr.io/firecrawl/firecrawl
  build: apps/api

  ulimits:
    nofile:
      soft: 65535
      hard: 65535
  networks:
    - backend
  extra_hosts:
    - "host.docker.internal:host-gateway"
    - "search.lab:host-gateway"
    - "llm.lab:host-gateway"

x-common-env: &common-env
  REDIS_URL: ${REDIS_URL:-redis://redis:6379}
  REDIS_RATE_LIMIT_URL: ${REDIS_URL:-redis://redis:6379}
  PLAYWRIGHT_MICROSERVICE_URL: ${PLAYWRIGHT_MICROSERVICE_URL:-http://playwright-service:3000/scrape}
  NUQ_DATABASE_URL: postgres://postgres:postgres@nuq-postgres:5432/postgres
  USE_DB_AUTHENTICATION: ${USE_DB_AUTHENTICATION}
  OPENAI_API_KEY: sk-uH-OGDpTXD17I16bgbf6sw
  OPENAI_BASE_URL: http://llm.lab
  MODEL_NAME: or/grok-4-fast
  MODEL_EMBEDDING_NAME: text-embedding-3-small
  OLLAMA_BASE_URL: ${OLLAMA_BASE_URL} 
  SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
  BULL_AUTH_KEY: ${BULL_AUTH_KEY}
  TEST_API_KEY: dummy-key
  POSTHOG_API_KEY: ${POSTHOG_API_KEY}
  POSTHOG_HOST: ${POSTHOG_HOST}
  SUPABASE_ANON_TOKEN: ${SUPABASE_ANON_TOKEN}
  SUPABASE_URL: ${SUPABASE_URL}
  SUPABASE_SERVICE_TOKEN: ${SUPABASE_SERVICE_TOKEN}
  SELF_HOSTED_WEBHOOK_URL: https://discord.com/api/webhooks/1351656041833828482/Xx8JcCSIGSGj8TNYFGZFg8XTX8GditI1V7xY_44QfjtgLOWpnD9Cr-3uAOvz1Ac55Z-6
  SERPER_API_KEY: ${SERPER_API_KEY}
  SEARCHAPI_API_KEY: ${SEARCHAPI_API_KEY}
  LOGGING_LEVEL: ${LOGGING_LEVEL}
  PROXY_SERVER: pr.oxylabs.io:10000
  #PROXY_USERNAME: customer-vasceannie_Rn3sD
  #PROXY_PASSWORD: Squirtle123
  SEARXNG_ENDPOINT: http://search.lab
  SEARXNG_ENGINES: ${SEARXNG_ENGINES}
  SEARXNG_CATEGORIES: ${SEARXNG_CATEGORIES}

services:
  playwright-service:
    # NOTE: If you don't want to build the service locally,
    # uncomment the build: statement and comment out the image: statement
    image: ghcr.io/firecrawl/playwright-service:latest
    container_name: playwright-service
    # build: apps/playwright-service-ts
    restart: unless-stopped
    environment:
      PORT: 3000
      PROXY_SERVER: ${PROXY_SERVER}
      PROXY_USERNAME: ${PROXY_USERNAME}
      PROXY_PASSWORD: ${PROXY_PASSWORD}
      BLOCK_MEDIA: ${BLOCK_MEDIA}
    networks:
      - backend
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4G
        reservations:
          cpus: '1'
          memory: 2G

  api:
    <<: *common-service
    environment:
      <<: *common-env
      HOST: "0.0.0.0"
      PORT: ${INTERNAL_PORT:-3002}
      WORKER_PORT: ${WORKER_PORT:-3005}
      ENV: local
    container_name: api
    depends_on:
      # - redis
      - playwright-service
    restart: unless-stopped
    networks:
      - backend
    expose:
      - "${INTERNAL_PORT:-3002}"
    command: node dist/src/harness.js --start-docker
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 8G
        reservations:
          cpus: '2'
          memory: 4G

  # redis:
  #   # NOTE: If you want to use Valkey (open source) instead of Redis (source available),
  #   # uncomment the Valkey statement and comment out the Redis statement.
  #   # Using Valkey with Firecrawl is untested and not guaranteed to work. Use with caution.
  #   # image: redis:alpine
  #   image: valkey/valkey:alpine
  #   container_name: redis
  #   networks:
  #     - backend
  #   command: redis-server --bind 0.0.0.0
  
  nuq-postgres:
    build: apps/nuq-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - backend

networks:
  backend:
    driver: bridge
